html {
    font-family: sans-serif;
    font-weight: 100;
}

.bk-root .bk-widget {
}

.bk-root .bk-widget button {
}

.forest-top {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 10px;
}

.forest-bottom {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}
